@model Wedding 


<h3>@Model.WedderOneName and @Model.WedderTwoName</h3>

<h4>@Model.address</h4>

<h4>@Model.DisplayDate</h4>
<div class="guests">
    <h3>Guests</h3>

    @foreach(var guest in ViewBag.people){
        <p>@guest.user.FirstName</p>
    }

</div>

<div class="map">
        <div id="map"></div>
         <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMdjjcaequT_R_A1D5aDVmMaSK6BY8fgw&callback=initMap" async defer></script> 
    <script>
  
      var map;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8
        });

      var geocoder = new google.maps.Geocoder()
        var address = '@Model.address'
        geocoder.geocode({'address':address},
            function(results, status){
           

                    map.setCenter(results[0].geometry.location)

                    var marker = new google.maps.Marker({
                        map:map,
                        position: results[0].geometry.location
                    })

                    map.setZoom(16)
                    map.panTo(marker.position)
            })

      }
    </script>

</div>

