<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


    <style>
        
    </style>

</head>


<body>

    <h1>Welcome to elephants</h1>
    <a href="/elephant/new">Create Elephant</a>

    <% for(var e of elephants) { %>
        <div> 
        <a href="/elephants/<%= e._id %>"><%= e.name %></a>
        <a href="/elephants/edit/<%= e._id %>">Edit</a>
        <a href="/elephants/delete/<%= e._id %>">Delete</a>
        <%= e._id %>
        </div>
        <br>
    <% } %>


</body>
</html>